@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Seaweed+Script&display=swap');

body {
  font-family: 'Montserrat';
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(143, 137, 123, 0.34)),
  url('images/ireland.jpg');
  background-size: cover;
  padding: 150px;
}

.box {
  border-top: 1px solid rgb(183, 187, 198, 0.3);
  border-right: 1px solid rgb(183, 187, 198, 0.3);
  border-bottom: 1px solid rgb(183, 187, 198, 0.3);
  border-left: 1px solid rgb(240, 187, 198, 0.3);
  border-radius: 2px;
  width: 700px;
  margin: 40px auto;
  padding: 24px;
  background-image: linear-gradient(rgb(239, 239, 239, 0.4), rgb(169, 157, 149, 0.3));
}

.blurred-edges {
  background-image: url("images/profile.jpg");
  width: 300px;
  height: 333px;
  box-shadow: 0 0 8px 8px rgb(239, 239, 239, 0.4) inset;
  margin: 56px auto;
  border-radius: 2px;
}

.text {
  padding-left: 30px;
}

#pic {
  border-radius: 4px;
  margin: 25px;
}

h1, h2 {
  color: rgba(74, 71, 62);
}

a {
  font-weight: 100;
  text-decoration: none;
  color: rgb(74, 71, 62);
}

a:hover {
  color: rgb(74, 71, 62, 0.5);;
}

p {
  font-family: 'Montserrat';
  color: rgb(242, 242, 243);
}

#paragraph1 {
  text-align: center;
}

#paragraph2 {
  text-align: left;
}

#paragraph2 li {
    display: inline-block;
}

.social-icon {
  list-style: none;
  font-size: 32px;
}

.bottom_part {
  margin-left: 16px;
}

.button {
  border: solid 1px;
  border-color: rgb(242, 242, 243, 0.5);
  border-radius: 2px;
  color: rgb(242, 242, 243);
  padding: 16px;
  width: fit-content;
}

.button:hover {
  background-color: rgb(74, 71, 62, 0.2);
  font-weight: bolder;
}

@media (max-width: 900px) {
  body {
    padding: 50px
  }
  .box {
    width: 550px;
    margin: auto;
  }
}

@media (max-width: 600px) {
  .box {
    width: 320px;
    margin: auto;
  }
  #pic {
    width: 200px;
  }
  .text {
    font-size: 32px;
  }
}
